    <%= link_to products_path do %>
        <h1>La Tiendecita</h1>
    <%end%>

    <div>
        <%= link_to t('.add'), new_product_path%>
    </div>
    <div>
        <%= link_to t('.categories'), categories_path%>
    </div>
